AUTH_JWT_SECRET=change-this-lab-secret
INTERNAL_JOBS_EVENT_TOKEN=change-this-jobs-token
WEB_APP_BASE_URL=https://control.vizlec-dev.test
OLLAMA_BASE_URL=http://host.docker.internal:11434
COMFYUI_BASE_URL=http://host.docker.internal:8188
XTTS_API_BASE_URL=http://host.docker.internal:8020
